/* Global styles */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #212529;
}
    /* background-color: cornflowerblue; */
h1{
    text-align: center;
}
h2{
    line-height: 45px;
}
h3{
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
/* Shortcuts */
    /* Colors */
.bgc_primary {
    background-color: white;
}
.c_primary{
    color: white;
}
.c_secondary{
    color: #9b9b9b;
}

    /*Useful class  */
.width{
    max-width: 1392px;
    margin: auto;
}
img{
    width: 100%;
}
.not_btn{
    border: none;
    font: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: 2.5px;
    background-color: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}
.box{
    background-color: #fafafa;
    /* background-color: red; */
}

    /*Margin and Paddings  */
.marg_20{
    margin:20px;
}
.margTB_30{
    margin: 20px 0;
}
.margL_15{
    margin-left: 15px;
}
.margB_30{
    margin-bottom: 30px;
}
.margT_30{
    margin-top: 30px;
}
.pddLR_24{
    padding: 0 24px;
}
.pdd_32{
    padding: 32px;
}

/* General */
/* ************************** HEADER */
header{
    background-color: white;
}
header .header_top{
    width: 100%;
    padding: 0 24px;
        /* border: solid red 3px; */
}
header .header_nav{
    float: right;
}
header .heaedr_burg_container{
    font-size: 20px;
    color: #9b9b9b;
        /* border: dashed black 3px; */
}
header .header_nav_sx, 
header .header_nav_dx{
    display: inline-block;
    height: 64px;
}
header .header_logo,
header .header_nav{
    display: inline-block;
    line-height: 64px;
    font-size: 14px;
    /* border: solid blue 3px; */
}
header .header_top nav li{
    text-transform: uppercase;
    margin-left: 15px;
    display: inline-block;
} 
header a{
    color: currentColor;
    font-weight: 600;
    padding: 8px;
}
header .header_logo img{
    height: 12px;
    width: auto;
}
header #language_option{
    border: none;
    border-left: 2px solid #9b9b9b;
    border-right: 2px solid #9b9b9b;
    padding: 5px;
    line-height: 14px;
}
header .btn_login{
    color: white;
    background-color: black;
    line-height: 14px;
    padding: 15px 25px;
    font-weight: 700;
    letter-spacing: 0px;
}


/* **************************SECTION 1 NASDAQ    */
#nasdaq {
    height: 1000px; /*PERCHE'?!?*/
        background-color:purple;
    margin: auto;
}
/* **************************SECTION 2 OPTIONS    */
#options {
    text-align: center;
    font-size: 20px;
}
#options .img_titles{
    height: 25px;
    width: auto;

}
.vertical_box{
    width: calc((100% - 110px)/3);
    display: inline-block;
    margin: 15px;
}

/* **************************SECTION 3 PHONE DIVIDER    */
#phone_divider *{
    border: 2px greenyellow;

}
/* **************************SECTION 4 MAIN BOXES   */
/* **************************FOOTER         */








.learn_more{
    font-size: 20px;
    color: rgb(0, 112, 200);
    padding: 0 0 0 35px;
}
.learn_more::after{
    content: ' \276F';
}
.clearfix{
    content: "";
    display: block;
    clear: both;
}